@charset "UTF-8";

.proDiv {
	border-radius: 16px;
	width: 23%;
	height: 190px;
	background-color: orange;
	margin: 1%;
	padding: 1%;
}

.addDiv {
	border-radius: 16px;
	border-color: #007bff;
	background: #6b65dc;
	width: 23%;
	height: 190px;
	margin: 1%;
	padding: 1%;
}

.add-btn {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: 900;
}

.proDiv-contents {
	position: absolute;
	top: 80%;
}

.proDiv-title {
	font-weight: bold;
	color: white;
	font-size: 24px;
	padding-top: 3%;
	padding-left: 3%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.proDiv-contents {
	position: relative;
	top: 55%;
	font-weight: bold;
	color: white;
	font-size: 16px;
	padding-left: 5%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.proDiv-star {
	position: relative;
	top: 40%;
	font-weight: bold;
	color: white;
	font-size: 20px;
	padding-left: 80%;
}